@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-blue-100: #7EA4D7;
  --color-blue-200: #2C85FC;
  --color-blue-300: #2266C1;
  --color-blue-400: #0D284C;

  --color-cyan-100: #2DEBFC;
  --color-cyan-200: #187D86;
  --color-cyan-300: #0E474C;

  --color-white: #FFF;
  --color-gray-100: #E9EAEC;
  --color-gray-200: #D3D5D9;
  --color-gray-300: #93979E;
  --color-gray-400: #20242C;
  --color-gray-500: #16181D;
  --color-gray-600: #14161A;
  --color-gray-700: #101216;
  --color-gray-800: #0B0C0F;

  --font-family-base: 'Inter', sans-serif;
  
  --text-heading-hg: 48px;
  --text-heading-xl: 32px;
  --text-heading-lg: 28px;
  --text-heading-md: 24px;
  --text-heading-sm: 20px;
  --text-heading-xs: 16px;

  --text-body-md: 16px;
  --text-body-sm: 14px;
  --text-body-xs: 12px;

  --text-body-tag: 12px;
  
  --text-action-md: 16px;
  --text-action-sm: 14px;


}